TYPEORM_HOST = hostname
TYPEORM_PORT = port
TYPEORM_USERNAME = username
TYPEORM_PASSWORD = password
TYPEORM_DATABASE = databse
TYPEORM_ENTITIES = "**/*.entity.js"
TYPEORM_MIGRATIONS = "src/migrations/*-migration.ts"